body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

* {
    box-sizing: border-box;
}
.title h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}

.title .container{
    width: 1140px;
    /* height: 600px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.title .img_jay{
    background-image: url('./img/jay.jpg');
    width: 500px;
    height: 500px;
}

.list {
    max-width: 400px;
    margin: 20px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+p {
    background: #F9F9F9;
    /* text-decoration: line-through; */
}

input[type="checkbox"] {
    margin: 20px;
}

.list p {
    margin: 0;
    padding: 10px;
    transition: background 0.2s;
    flex: 1;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    font-weight: 200;
    border-left: 1px solid #D1E2FF;
}