<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>宅幹嘛 vue</title>
    <link rel="stylesheet" href="vue-1-Communication.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- google字體 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
</head>
<body>
    <div id="box">
        <div class="container">
            <div class="who">
                <img class="logo" src="./img/logo.png">
                <h4 class="">我想想喔...</h4>
                <div class="input">
                    {{ name }}，
                    {{ sex }}性，
                    年齡為 {{ age }}，
                    <br />
                    {{ favor.length ? '喜歡' : '' }} {{ favor.join('、') }}
                    {{ member ? '是' : '不是' }}忠實粉絲。
                    <div class="menu">
                        <table>
                            <tr>
                                <td class="title">
                                    姓名：
                                </td>
                                <td>
                                    <input v-model="name" />
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    性別：
                                </td>
                                <td>
                                    <input 
                                        type="radio"
                                        value="女" 
                                        checked 
                                        v-model="sex" />女
                                    <input 
                                        type="radio"
                                        value="男"
                                        v-model="sex" />男
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    年齡：
                                </td>
                                <td>
                                    <select v-model="age">
                                        <option>20歲以下</option>
                                        <option>20~29歲</option>
                                        <option>30歲~39歲</option>
                                        <option>40歲以上</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    喜歡：
                                </td>
                                <td>
                                    <input 
                                        type="checkbox"
                                        value="吃美食"
                                        v-model="favor"  />吃美食
                                
                                    <input 
                                        type="checkbox"
                                        value="看電影"
                                        v-model="favor" />看電影
                                
                                    <input 
                                        type="checkbox"
                                        value="蠟筆小新"
                                        v-model="favor" />蠟筆小新
                                </td>
                            </tr>
                            <tr>
                                <td class="title">
                                    忠誠：
                                </td>
                                <td>
                                    <input 
                                        type="checkbox"
                                        v-model="member" />是粉絲嗎?
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap'js -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <!-- Vue'js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script>
        let data = {
            name: 'Dami',
            sex: '女',
            age: '20~29歲',
            favor: ['吃美食','看電影','蠟筆小新'],
            member: false
        }

        let vm = new Vue({
            el: '#box',
            data: data
        })

    </script>
</body>

</html>